<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
    <div class="col-md-12">
    <div class="row">
    <div class="col-md-4">
      <app-recipe-item></app-recipe-item>
    </div>
    <div class="col-md-4">
      <app-ng-if></app-ng-if>
    </div>
    <div class="col-md-4">
      <app-attribute></app-attribute>
    </div>
    <div class="col-md-12">
      <app-transmit2></app-transmit2>
    </div>
    <div class="clearfix"></div>
    <div class="col-12 container">
      <app-form></app-form>
    </div>
  </div>
</div>
  </div>
</div>