<h2>User form</h2>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" minlength="6" maxlength="15" required name="name" #name="ngModel" ngModel>
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
      <div [hidden]="!name.errors.required">Name is required</div> 
      <div [hidden]="!name.errors.minlength">Name ít nhất 6 ký tự</div> 
      <div [hidden]="!name.errors.required">Name nhỏ hơn 15 ký tự</div> 
    </div>
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control" name="email" ngModel>
  </div>
    <div class="form-group">
      <label for="">Street</label>
      <input type="text" class="form-control" name="street" ngModel>
    </div>
    <div class="form-group">
      <label for="">city</label>
      <select class="form-control" required name="cityName" ngModel>
        <option *ngFor="let city of cities " [value]="city.Id">{{city.Name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">PostalCode</label>
      <input type="text" pattern="[1-9][0-9]{4}$" class="form-control" #postalcode="ngModel" name="postcoode" ngModel>
      <div *ngIf="postalcode.errors && (postalcode.dirty || postalcode.touched)" class="alert alert-danger">
        <div [hidden]="!postalcode.errors.pattern">Postcode must be have 5 digits</div> 
      </div>
    </div>

  <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>

</form>